*{
    margin: 0;
}
a{
    color:black;
}
.nicname{
    text-decoration: none;
}
.logaut{
    cursor: pointer;
}
.header-logo{
    background-color: black;
    color: white;
    padding-top: 9px;
    text-align: center;
    font-size: 65px;
    padding-bottom: 9px;
}
.header-nav-wrap{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ededed;
    text-decoration: none;
}
.header-nav{
    display: flex;
    text-decoration: none
}
.nav-x{
    margin-right: 30px;
    text-decoration: none;
}
.account-field{
    display: flex;
}
.logaut{

}
.form-reg{
    display: none;
}
.form-autoriz{
    display: none;
}
.main-cont{
    padding-top: 69px;
    padding-bottom: 70px;
    min-height: 80vh;
}
.goods{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrap-auto-reg{
    display: flex;

}
.wrap{
    width: 1260px;
    margin: 0 auto;

}
.good{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    cursor: pointer;
    justify-content: center;;
}
.good>a{
    display: contents;
}
.good-title{
    font-size: 25px;
    margin-bottom: 10px;
}
.good-price{
    margin-bottom: 10px;
}
.good-img{
    width: 42%;
    height: 60%;
    margin-bottom: 10px;
}
.button{
    width: 60%;
    text-align: center;
    padding: 10px 20px;
    color: white;
    background-color: black;
    border: 1px transparent;
    box-sizing: border-box;
}
.button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid black;
    box-sizing: border-box;
}
.footer{
    background-color: #1a1a1a;
    padding-bottom: 50px;
    padding-top: 50px;
}
.main-item{
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 77vh;
}
.wrap-itemss{
    display: flex;
}
.item-img{
    margin-right: 49px;
    width: 27%;
}
.item-info-wrap{
    width: 65%;
}
.item-title{
    font-size: 36px;
    margin-bottom: 10px;
}
.item-price{
    font-size: 22px;
    margin-bottom: 22px;
}
.item-info>p{
    margin-bottom: 7px;
}
.discription-title{
    margin-top: 12px;
    margin-bottom: 6px;
    font-weight: bold;
}